<section class="index-page">
  <img src="{{ img }}" class="avatar">
  <h2>Hello {{ name }}</h2>
  <a href="/user/profile">
    Profile
  </a><br>
  <a href="/user/profile/settings">
    Profile settings
  </a>
  <br>
  <a href="/auth/logout">
    Logout
  </a>
</section>